<div style="display: grid ; grid-template-columns: repeat(3, 1fr);">

  <div class="debounce">
    <input type="text" name="name" id="search-box-debounce" />
    <h1>Result Debounce</h1>
    <p>Number of calls: {{numOfCallsDebounce}}</p>
    <div>
      <table>
        <ul *ngFor="let item of typeAheadDebounce">
          <li>{{ item }}</li>
        </ul>
      </table>
    </div>
  </div>
  <div class="throttle">
    <input type="text" name="name" id="search-box-throttle" />
    <h1>Result throttle</h1>
    <p>Number of calls: {{numOfCallsThrottle}}</p>
    <div>
      <table>
        <ul *ngFor="let item of typeAheadThrottle">
          <li>{{ item }}</li>
        </ul>
      </table>
    </div>
  </div>

  <div class="native">
    <input type="text" name="name" (input)="native($event)" />
    <h1>Result native functionality</h1>
    <p>Number of calls: {{numOfCallsNative}}</p>
    <div>
      <table>
        <ul *ngFor="let item of typeAheadNative">
          <li>{{ item }}</li>
        </ul>
      </table>
    </div>
  </div>
</div>
